/indiprov/Debug
/.vs/InDiProv/v14/*.suo
/*.sdf
/indiprov/x64
/InDiProv.VC.opendb
/indiprov/Model/entity-odb.cxx
/indiprov/Model/entity-odb.hxx
/indiprov/Model/entity-odb.ixx
/indiprov/Model/entity.sql
/indiprov/Model/activity-odb.cxx
/indiprov/Model/activity-odb.hxx
/indiprov/Model/activity-odb.ixx
/indiprov/Model/activity.sql
/indiprov/Model/agent-odb.cxx
/indiprov/Model/agent-odb.hxx
/indiprov/Model/agent-odb.ixx
/indiprov/Model/agent.sql
/indiprov/Model/wasGeneratedBy-odb.cxx
/indiprov/Model/wasGeneratedBy-odb.hxx
/indiprov/Model/wasGeneratedBy-odb.ixx
/indiprov/Model/wasGeneratedBy.sql
/indiprov/Model/wasDerivedFrom-odb.cxx
/indiprov/Model/wasDerivedFrom-odb.hxx
/indiprov/Model/wasDerivedFrom-odb.ixx
/indiprov/Model/wasDerivedFrom.sql
/indiprov/Model/wasAttributedTo-odb.cxx
/indiprov/Model/wasAttributedTo-odb.hxx
/indiprov/Model/wasAttributedTo-odb.ixx
/indiprov/Model/wasAttributedTo.sql
/indiprov/Model/used-odb.cxx
/indiprov/Model/used-odb.hxx
/indiprov/Model/used-odb.ixx
/indiprov/Model/used.sql
/indiprov/Model/wasInformedBy-odb.cxx
/indiprov/Model/wasInformedBy-odb.hxx
/indiprov/Model/wasInformedBy-odb.ixx
/indiprov/Model/wasInformedBy.sql
/indiprov/Model/wasAssociatedWith-odb.cxx
/indiprov/Model/wasAssociatedWith-odb.hxx
/indiprov/Model/wasAssociatedWith-odb.ixx
/indiprov/Model/wasAssociatedWith.sql
/indiprov/Model/actedOnBehalfOf-odb.cxx
/indiprov/Model/actedOnBehalfOf-odb.hxx
/indiprov/Model/actedOnBehalfOf-odb.ixx
/indiprov/Model/actedOnBehalfOf.sql
/*.opensdf
/build
/CMakeFiles
