/indiprov/Debug
/.vs/InDiProv/v14/*.suo
/indiprov/Model/entity-odb.cxx
/indiprov/Model/entity-odb.hxx
/indiprov/Model/entity-odb.ixx
/indiprov/Model/agent-odb.cxx
/indiprov/Model/agent-odb.hxx
/indiprov/Model/agent-odb.ixx
/indiprov/Model/activity-odb.cxx
/indiprov/Model/activity-odb.hxx
/indiprov/Model/activity-odb.ixx
/indiprov/x64
/indiprov/Model/activity.sql
/indiprov/Model/agent.sql
/indiprov/Model/entity.sql
/InDiProv.VC.opendb
/indiprov/Model/wasAttributedTo-odb.cxx
/indiprov/Model/wasAttributedTo-odb.hxx
/indiprov/Model/wasAttributedTo-odb.ixx
/indiprov/Model/wasAttributedTo.sql
/indiprov/Model/attribution-odb.cxx
/indiprov/Model/attribution-odb.hxx
/indiprov/Model/attribution-odb.ixx
/indiprov/Model/attribution.sql
/indiprov/Model/generation-odb.cxx
/indiprov/Model/generation-odb.hxx
/indiprov/Model/generation-odb.ixx
/indiprov/Model/generation.sql
/*.sdf
/indiprov/Model/wasGeneratedBy-odb.cxx
/indiprov/Model/wasGeneratedBy-odb.hxx
/indiprov/Model/wasGeneratedBy-odb.ixx
/indiprov/Model/wasGeneratedBy.sql
